.input_title {
    display: none;
}

.input_title_active {
    display: block;
}

// ------------------------------------------------

.update_item_title_btn {
    display: none;
}

.update_item_title_btn_active {
    display: block;
}

//--------------------------------------------------

.add_data_in_bd_btn {
    display: none;
}

.add_data_in_bd_btn_active {
    display: block;
}

//-----------------------------------------------------------

.update_title {
    display: none;
}

.update_title_active {
    display: block;
}

//---------------------------------------------------------------

.update_price {
    display: none;
}

.update_price_active {
    display: block;
}

//----------------------------------------

.update_item_price_btn {
    display: none;
}

.update_item_price_btn_active {
    display: block;
}

form {
    .title_item {
        display: flex;
    }

    .update_title_active {
        .btns_update_title {
            display: flex;
        }
    }
}
